#popup-overlay {
  display: none;
  position: fixed;
  top: -1000px;
  left: -1000px;
  right: -1000px;
  bottom: -1000px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

#popup {
  display: none;
  background: #ccc;
  position: fixed;
  z-index: 9999;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: 1px solid #4f4f4f;
  max-height: 200px;
}

#popup .popup-content {
  max-height: 150px;
  overflow-y: auto;
}

.popup-bar {
  width: 100%;
  background: #999;
  position: relative;
  top: 0;
  border-radius: 5px 5px 0 0;
  text-align: center;
  height: 24px;
  cursor: move;
  user-select: none;
}

.btn-close {
  float: right;
  cursor: pointer;
  padding-right: 6px;
}
